/* Estilos Globales */
@font-face {
  font-family: "Lato-black";
  src: url("../fonts/Lato-Black.ttf");
  font-style: normal;
  font-weight: normal;
  font-family: "Lato-bold";
  src: url("../fonts/Lato-Bold.ttf");
  font-style: normal;
  font-weight: normal;
  font-family: "Lato-light";
  src: url("../fonts/Lato-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
}

.pd_10 {
  padding: 10px;
}

.mgl_5 {
  margin-left: 5px;
}

/* Variables Header*/
/* Variables Header buttom mobile */
/* Estilos Header top */
.header_top {
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 0.1rem solid;
  background-color: #FFFEFE;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.header_top_section_1 {
  display: inline-block;
  width: 33%;
}
.header_top_section_1 p {
  height: 100%;
  font-size: 1.5rem;
}

.logo_top_section {
  display: inline-block;
  width: 33%;
  text-align: center;
}
.logo_top_section img {
  width: 50%;
}

.header_top_section_3 {
  display: inline-block;
  width: 33%;
  text-align: center;
}
.header_top_section_3 a {
  color: #19647E;
  font-family: Lato-black;
  text-decoration: none;
  font-size: 1rem;
}
.header_top_section_3 li {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

/* FIN Estilos Header top */
/* Estilos Header top mobile*/
.header_top_mobile {
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 0.1rem solid;
  background-color: #FFFEFE;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.header_top_section_1_mobile {
  width: 65%;
}

.header_top_section_3_mobile {
  padding: 0.8rem;
  text-align: center;
}
.header_top_section_3_mobile ul {
  list-style: none;
}
.header_top_section_3_mobile li {
  border: 1px solid;
  margin-bottom: 5px;
  border-radius: 3px;
}
.header_top_section_3_mobile a {
  text-decoration: none;
  padding: 5px;
  color: #19647E;
  font-weight: bold;
}

.logo_top_section_mobile {
  display: inline-block;
  width: 40%;
  text-align: center;
}
.logo_top_section_mobile img {
  width: 100%;
}

/* FIN Estilos Header top mobile*/
/* Estilos Header buttom */
.header_bottom {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.option_bottom_nav {
  padding: 20px;
}
.option_bottom_nav ul {
  font-family: Lato-black;
  text-align: center;
  font-size: 1rem;
}
.option_bottom_nav ul li img {
  margin-bottom: 25px;
  width: 100%;
}
.option_bottom_nav li {
  display: inline-block;
  margin: 0px 70px 0px 20px;
}
.option_bottom_nav li a {
  color: var(--my-nav-text);
  text-decoration: none;
}

.mb_0 {
  margin-bottom: 0px !important;
}

/* FIN Estilos Header buttom */
/* INCIO Estilos Header buttom mobile */
.offcanvas-start {
  height: 40%;
  top: 68px !important;
  border-radius: 0 20px 20px 0px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.53);
}

.offcanvas-header {
  padding: 0;
}

.btn_nav_mobile {
  height: 50px;
  top: 68px;
  position: fixed;
  z-index: 1050;
  background-color: #FFFEFE;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0 20px 20px 0px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.53);
}

.option_bottom_nav_mobile a {
  text-decoration: none;
  color: #19647e;
}
.option_bottom_nav_mobile ul {
  display: flex;
  padding: 5px;
}
.option_bottom_nav_mobile ul li:first-child img {
  margin-bottom: -8px !important;
}
.option_bottom_nav_mobile ul li {
  display: inline-block;
  text-align: center;
}

.img_icon_mobile img {
  width: 55%;
  margin-bottom: 6px;
}

.close_btn {
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #000000;
}

.fa-arrow-left {
  margin-right: 0.5rem;
}

/* FIN Estilos Header buttom mobile */
/* Estilos Footer */
.bd_top {
  border-top: var(--my-border-top);
}

.logo_section_footer {
  display: inline-block;
  width: 23%;
  text-align: center;
}
.logo_section_footer img {
  width: 50%;
}

.footer_items_secition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgsize_bottom_footer ul li img {
  margin-bottom: 12px;
  width: 55%;
}

.option_bottom_nav_footer ul {
  font-family: Lato-black;
  text-align: center;
  font-size: 1rem;
}
.option_bottom_nav_footer ul a {
  color: #19647E;
  text-decoration: none;
}
.option_bottom_nav_footer li {
  display: inline-block;
  margin: 0px 70px 0px 20px;
}

.footer_nav_section {
  display: inline-block;
}

.footer_bt_user {
  display: inline-block;
}
.footer_bt_user ul {
  font-family: Lato-black;
  text-align: center;
  font-size: 1rem;
}
.footer_bt_user ul li {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}
.footer_bt_user ul li img {
  margin-bottom: 25px;
  width: 50%;
}
.footer_bt_user a {
  color: #19647E;
  text-decoration: none;
}

.footer_top {
  display: table;
  width: 100%;
}

.copyright {
  padding: 10px;
  font-size: 2.5rem;
  display: table-cell;
}

.ico_rrss {
  font-size: 1.5rem;
  display: table-cell;
  text-align: right;
}
.ico_rrss a {
  margin: 0 10px 0 10px;
}

/* FIN Estilos Footer */
/* Estilos Seccion de Banners */
.banner_section {
  margin-top: 5px;
}
.banner_section img {
  width: 100%;
}

/* FIN Estilos Seccion de Banners */
/* Estilos Seccion de reservas */
.title-section {
  text-align: center;
}

.form_booking {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  width: 70%;
  border: var(--my-border);
}
.form_booking span {
  font-size: 1.5rem;
}
.form_booking input {
  width: 170px;
  height: 30px;
  margin: 0px 50px 0px 70px;
}
.form_booking select {
  width: 170px;
  height: 30px;
}

.title-section h2 {
  color: #19647E;
  font-size: 5rem;
  text-decoration: underline;
  margin: 20px;
}

.form_booking input[type=submit] {
  background-color: #F4D35E;
}

.arriendo_service {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.card {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.card_width {
  width: 35rem;
}

.icon_card {
  font-size: 3rem;
  padding: 3rem;
}

.card-title {
  font-size: 3rem;
  font-family: "Lato-light";
  font-weight: bold;
}

.card-text:last-child {
  font-size: 1.6rem;
  font-family: Lato-light;
}

/* Fin Estilos Seccion de reservas */
/* Inicio seccion de psicoterapia */
.psico_section {
  display: flex;
  justify-content: space-evenly;
}

.card-width {
  max-width: 400px;
}

.card-height {
  height: max-content;
}

.card-title-psico {
  font-size: 2rem;
  font-family: "Lato-light";
  font-weight: bold;
}

.card-text-psico {
  font-size: 1.6rem;
  font-family: Lato-light;
}

/* fin seccion de psicoterapia */
/* inicio seccion de profesional */
.section_profesionales {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.card-text-profe {
  font-size: 1.6rem;
  font-family: Lato-light;
}

.ig_icon {
  font-size: 1.5rem;
  color: #19647E;
}

.ig_icon:hover {
  color: #F4D35E;
}

/* fin seccion de profesional */
/* INICIO Estilo pagina de arriendo */
.booking_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_width_booking_box {
  max-width: 60%;
}

/* FIN pagina de arriendo */
/* media query responsive */
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .form_booking input {
    margin: 10px 0px 10px 0px;
  }
}
.title-section h2 {
  font-size: 2rem;
}

.arriendo_service {
  align-items: center;
  flex-direction: column;
  margin-top: 0;
}

.card {
  margin: 1rem;
}

.card_width {
  width: 25rem;
}

.psico_section {
  flex-direction: column;
  margin: 1rem;
}

.section_profesionales {
  flex-direction: column;
  margin: 0rem 2rem 1rem 2rem;
}

.header_top {
  display: none;
}

.header_bottom {
  display: none;
}

.footer_nav_section {
  display: none;
}

.footer_bt_user {
  display: none;
}

.bd_top {
  border-top: 0;
}

.bd_top_mobile {
  border-top: var(--my-border-top);
}

.logo_section_footer {
  width: 100%;
}

.footer_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title-section h2 {
    font-size: 5rem;
  }
  .form_booking {
    display: inline-block;
    width: 95%;
  }
  .form_booking form {
    display: flex;
    justify-content: center;
  }
  .card_width {
    width: 24rem;
  }
  .psico_section {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 1rem;
  }
  .header_top_mobile {
    display: none;
  }
  .option_bottom_nav ul {
    display: flex;
    justify-content: center;
  }
  .header_bottom_mobile {
    display: none;
  }
  .footer_items_secition {
    display: none;
  }
  .copyright {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .header_top {
    display: flex;
  }
  .header_bottom {
    display: flex;
    justify-content: center;
  }
  .arriendo_service {
    flex-direction: row;
  }
  .booking_box h2 {
    font-size: 5rem;
  }
  .form_booking {
    display: inline-block;
    width: 70%;
  }
  .form_booking form {
    display: flex;
    justify-content: center;
  }
  .card_width {
    width: 32rem;
  }
  .section_profesionales {
    flex-direction: row;
  }
  .psico_section {
    flex-direction: row;
  }
  .logo_section_footer {
    width: 34%;
  }
  .footer_nav_section {
    display: flex;
  }
  .footer_top {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer_items_secition {
    display: flex;
  }
}
@media only screen and (min-width: 1366px) {
  .header_top {
    display: flex;
  }
  .header_bottom {
    display: flex;
    justify-content: center;
  }
  .psico_section {
    flex-direction: row;
  }
  .footer_items_secition {
    display: flex;
  }
  .section_profesionales {
    flex-direction: row;
  }
  .arriendo_service {
    flex-direction: row;
  }
  .logo_section_footer {
    width: 34%;
  }
  .footer_nav_section {
    display: flex;
  }
  .footer_top {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 2560px) and (min-width: 1440px) {
  .psico_section {
    flex-direction: row;
  }
  .footer_items_secition {
    display: flex;
  }
}
/* fin media query responsive */

/*# sourceMappingURL=styles.css.map */
