/* INICIO Estilo pagina de arriendo */
.booking_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_width_booking_box {
    max-width: 60%;
}
/* FIN pagina de arriendo */